
<div class="container">

  <form [formGroup]="shipForm">
    <div class="form-group">

      <div class="row" style="outline: blue dashed 3px; padding: .5rem .5rem .5rem .5rem; ">
        <div class="col">

          <label for="wikiLink">Wiki URL:</label>
          <input class="form-control"
                 id="wikiLink"
                 name="wikiLink"
                 formControlName="wikiLink" />

          <button (click)="onWikiImport()">Import</button>
        </div>

        <div class="col">

          <label for="shiplistKey">IRCWCC Ship List Key:</label>
          <input class="form-control"
                 id="shiplistKey"
                 name="shiplistKey"
                 formControlName="shiplistKey" />

          <button (click)="onShipListKeyImport()">Import</button>
        </div>
      </div>


      <div *ngFor='let prop of shipProperties'>

        <div class="row">

          <div class="col">
            <label for="{{prop.field}}">{{prop.display}}</label>
          </div>
        </div>

        <div class="row">

          <div class="col">

            <div *ngIf="prop.controlType == 'form-control'">
              <div class="input-group">
                <input class="form-control"
                       id="{{prop.field}}" name="{{prop.field}}"
                       formControlName="{{prop.field}}" />
                <span *ngIf="prop.units" class="input-group-text" id="{{prop.field}}-addon">{{prop.units}}</span>
              </div>
            </div>

            <div *ngIf="prop.controlType == 'form-select'">
              <select class="form-select"
                      id="{{prop.field}}" name="{{prop.field}}"
                      formControlName="{{prop.field}}">
                <option *ngFor='let option of prop.options | async' value="{{option.id}}">{{option.displayName}}</option>
              </select>
            </div>

          </div> 

          <div class="col-4" *ngIf="showValue(wikiShip, ircwccShip, prop.field)" style="background-color: red">
            <button class="stretch" (click)="changeValue(wikiShip, prop.field)">{{getValue(wikiShip, prop.field)}} {{prop.units}}</button>
          </div>

          <div class="col-4" *ngIf="showValue(ircwccShip, wikiShip, prop.field)" style="background-color: green">
            <button class="stretch" (click)="changeValue(ircwccShip, prop.field)">{{getValue(ircwccShip,prop.field)}} {{prop.units}}</button>
          </div>

        </div>
      </div>

      <div class="row">
        <button (click)="onSave()">Save</button>
      </div>

    </div>
  </form>
</div>
