
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
      <pm-query-editor (queryChanged)="onQueryChanged($event)"></pm-query-editor>
    </div>

    <div class="col">
      <div class='content'>
        <div class='table-responsive'>
          <table class='table'
                 *ngIf='warships.length'>
            <thead>
              <tr>
                <th *ngFor='let column of columns'>
                  <a (click)="sortOn(column.field)">{{column.columnName}}</a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let ship of warships'>
                <td *ngFor='let column of columns'>
                  <a *ngIf="column.showLink" [routerLink]="['/ship-search', ship.id]">
                    {{this.getValue(ship, column.field)}}
                  </a>
                  <div *ngIf="!column.showLink">
                    {{this.getValue(ship, column.field)}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
