<tr>Ship Class: {{ ship?.className }} </tr>
<tr>Nationality: {{ ship?.nation | lowercase}}</tr>
<tr>Class Abbreviation: {{ ship?.classAbbreviation }}</tr>
<tr>Units: {{ ship?.units}}</tr>
<tr>IRCWCC Speed: {{ ship?.speedIrcwcc}}</tr>
<tr>Speed (Knots): {{ ship?.speedKnots}}</tr>
<tr>Length: {{ ship?.length}} ft</tr>
<tr>Beam: {{ ship?.beam}} ft</tr>
<tr>Standard Tonnage: {{ ship?.standardWeight}} Tons</tr>
<tr>Total Guns: {{ ship?.guns}}</tr>
<tr>Maximum Gun Diameter: {{ ship?.gunDiameter}}</tr>
<tr>Belt Armor Thickness:{{ ship?.armor}}</tr>
<tr>Number of Rudders: {{ ship?.rudders}}</tr>
<tr>Number of Shafts: {{ ship?.shafts}}</tr>
