<header>
  <div class="row ">
    <section class="column small-12">

      <!--<img src="images/logo.svg" alt="Combat Warships">-->
      <h1>Combat Warships</h1>
      <h2>R/C Naval Battles</h2>
    </section>
  </div>
</header>

<nav>
  <div class="row ">
    <button id="hamburgerBtn" >&#9776;</button>
    <ul id="primaryNav">
      <li class="active"><a href=".">Home</a></li>
      <li><a href="./ship-search">Warship Search</a></li>
      <li><a href="./ship-import">Create Warship</a></li>
    </ul>
  </div>
</nav>

<main>
  <div class="row ">
    <section class="column small-12">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>


<footer>

  <div class="row "></div>

</footer>
